<mat-toolbar class="toolbar">
  <span class="title">Citizenship Quiz</span>
  <span class="spacer"></span>
  @if (showScoreSummary()) {
    <button matButton="outlined" class="restart-button" (click)="startNewSet()">
      Start again
      <mat-icon>refresh</mat-icon>
    </button>
  } @else {
    <span class="stats">
    <span class="score">{{ score }}</span>
    <span class="divider">|</span>
    <span class="counter">{{ questionsAnswered }} answered</span>
  </span>
  }
</mat-toolbar>

<main class="main-container">
  @if (showScoreSummary()) {
    <div class="card-wrapper" [@fadeInOut]>
      <mat-card class="card score-summary-card">
        <mat-card-content>
          <div class="score-summary">
            <div class="summary-title">Set completed!</div>

            <div class="score-circle">{{ score }} / {{ setSize }}</div>
            <span>correct answers</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  } @else {
    <div class="card-wrapper" [@fadeInOut]="questionsAnswered < setSize">
      <mat-card class="card">
        <mat-card-content>
          <p class="question-text">
            {{ getCurrentQuestion()!.question }}
          </p>

          <div class="options-container" [@staggerOptions]>
            @for (option of getCurrentQuestion()!.options; track option; let i = $index) {
              <div class="option-item"
                   [@optionAnimation]
                   [ngClass]="{
       'correct-option': showAnswerSheet() && i === getCurrentQuestion()!.correctOptionIndex,
       'incorrect-option': showAnswerSheet() && i === selectedUserOption && i !== getCurrentQuestion()!.correctOptionIndex,
       'selected': selectedUserOption === i
     }"
                   (click)="!showAnswerSheet() && selectOption(i)"
                   [attr.aria-selected]="selectedUserOption === i"
                   [attr.role]="'option'"
                   [attr.aria-disabled]="showAnswerSheet()">
                {{ option }}
              </div>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  }
</main>
