html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card.card {
  box-shadow: none !important;
}

mat-toolbar.mat-primary {
  background-color: #c9184a !important;
  color: white;
}
